@media screen and (max-width: 767px) {

    .header {
        width: 250px;
    }

    .right {
        width: 100px;
        float: left;
    }

    .footer {
        width: 250px;
    }
}

@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }

    .right {
        width: 150px;
    }

    .footer {
        width: 150px;
    }

   /* 要素の浮動化の解除 */
    .content {
        float: none;   
    }








}